.login-wrapper {
  position: relative;
  height: 100%; width: 100%;
}

.login {
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.login__card {
  box-sizing: content-box;
  max-width: 500px;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%; right: 0%;
  transform: translate(0%, -50%);
  background: white;
  border-radius: 8px;
  z-index: 9;
  
  &--padding {
    padding: 4em 3em;
  }

  h1 {
    margin-top: 0em;
  }
}

.btns {
  button {
    display: block;
    cursor: pointer;
    margin: auto;
    background: none;
    border: 2px solid #aaa;
    padding: 2em 2em;
    min-width: 400px;
    border-radius: 4px;
    -webkit-appearance: none;

    &:last-of-type {
      margin-top: 2em;
    }

    &:hover {
      border: 2px solid #0097e6;
    }
  }
}